* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: auto;
    font-family: Roboto, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #cecece;
}

/* Header Section */
#mainheader {
    background-color: #3A8EFF;
}

#mainheader .logo {
    margin: 10px;
    height: 50px;
}

/* Main Section */
.main-section {
    background-color: #3A8EFF;
    padding: 80px 15px 300px 25px; /* Top, Right, Bottom, Left */
    margin: 0;
}
#main-heading {
    color: white;
    text-align: center;
    font-size: 36px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

#departure {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#adults {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
}

input {
    width: 180px;          
    height: 50px;       
    font-size: 16px;  
    padding: 10px;
    border: none;
    outline: none;  
    margin-left: 3px;  
}
input:focus {
    box-shadow: inset 0 0 0 2px #3A8EFF;
}
.action-button {
    width: 200px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    appearance: none;
    border-radius: 10px;
    border: 1px solid #3A8EFF;
    color: white;
    background-color: #FA742D;
}

/* Contact Section */


/* SEARCH RESULT TILE*/
#top-section {
    background-color: #3A8EFF;
    padding: 80px 15px 200px 25px; /* Top, Right, Bottom, Left */
    margin: 0;
}
.search-param-section {
    background-color: #3A8EFF;
    padding: 20px 15px 20px 25px; /* Top, Right, Bottom, Left */
    margin: 0;
    display: flex;
    justify-content: center;
}
.ticket-list {
    background-color: #EFF1F4;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 2000px;
}

.cardContainer {
    min-width: 929px;
    min-height: 251px;
    height: 100%;
    display: flex;
    background: white;
    border-radius: 10px;
    margin: 20px;
    transition: box-shadow .2s linear,background-color .2s;
    cursor: pointer;
}

.cardContainer:hover {
    box-shadow: 5px 5px 15px rgb(216, 216, 216);
  }

.ticketPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-right: 1px solid #CDD4DE;
}

.priceLabel {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #0B131D;
}

.tripDetails {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tripDetailShell {
    height: 100px;
    width: 90%;
    height: 80%;

}
.ticketDetailsOneWay, .ticketDetailsRoundTrip  {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 12px 23px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

.ticketDetailsOneWay {
    border-bottom: 1px solid #CDD4DE;
}

.ticketTimeDisplay {
    color: #0B131D;
    font-size: large;
}

.ticketCityDisplay, .ticketDateDisplay {
    color:#CDD4DE;
    font-size: small;
    
}

.ticketCityDisplay {
    flex-grow: 1;
    text-align: center;
    min-width: 80px;
}

.airportName {
    color: #3A8EFF;
    font-weight: bold;
}

.durationDetails {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.durationTime {
    color:#CDD4DE;
    font-weight: bold;
    font-size: medium;
    align-items: center;

}

.durationTimeLine {
    width: 100%;
    height: 3px;
    background-color:#CDD4DE;
}
.durationAirportDisplay {
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 0;
}

.footerInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footerAbout, .footerThanks, .footerConnect {
    flex: 0 0 30%;
    max-width: 25%;
    margin: 10px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#titleAbout, #titleThanks, #titleConnect {
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    margin-bottom: 10px;
}

.footerCopyright {
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

a {
    color: #3A8EFF;
    text-decoration: none;
    display: block; /* Ensures links stack */
    margin: 5px 0;
}

a:hover {
    text-decoration: underline;
}
